source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget NUnit 
nuget NUnit.Runners
nuget xUnit
nuget xUnit.Runners
nuget FsUnit.xUnit
nuget FsCheck
nuget FsCheck.NUnit
nuget FsCheck.XUnit
nuget FAKE
nuget SourceLink.Fake
nuget FSharp.Core

github fsharp/FAKE modules/Octokit/Octokit.fsx
