source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget NUnit 
nuget NUnit.Runners
nuget xUnit
nuget xUnit.Runners
nuget FsUnit.xUnit
nuget FsCheck
nuget FsCheck.NUnit
nuget FsCheck.XUnit
nuget FAKE
nuget SourceLink.Fake
nuget FSharp.Core
nuget RProvider 1.1.8
nuget FsReveal 1.0.3
nuget Suave

github fsharp/FAKE modules/Octokit/Octokit.fsx
